.select2-selection__rendered {
    line-height: 31px !important;
 }
 .select2-container .select2-selection--single {
    height: 40px !important;
 }
 .select2-selection__arrow {
    height: 34px !important;
 }

 * {
   box-sizing: border-box;
}

#myInput {
   background-image: url('/css/searchicon.png');
   background-position: 10px 12px;
   background-repeat: no-repeat;
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;
   border-radius: 12px;
}

#myUL {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

#myUL li a:hover:not(.header) {
   background-color: #eee;
}

#myUL li label {
   /* Prevent double borders */
   text-decoration: none;
   color: black;
   display: block
}